# Uses release-please to manage automatic releases from conventional commits.
# It maintains the CHANGELOG, versioning and creation of GitHub releases.
# It does not publish to npm.
#
# Docs: https://github.com/marketplace/actions/release-please-action

name: Create new release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      # Create a release PR from the Conventional Commits
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node

      # Once the PR is merged, publish to npm
      - name: Checkout Repository
        uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
      - uses: ./.github/actions/prepare
        if: ${{ steps.release.outputs.release_created }}
      - name: Build Packages
        if: ${{ steps.release.outputs.release_created }}
        run: pnpm build
      - name: Publish to NPM
        if: ${{ steps.release.outputs.release_created }}
        run: npm publish
